@import "compass";
/* mixins, variables, etc. */
$bgNight: #3D3D3D;
$bgDark: #4D4D4D;
$bgMedium: #8D8D8D;
$bgLight: #FDFDFD;

$fontMedium: 8EEA8E;
$fontLight: #9FFA9F;


html, body 			{ height: 100%; 
									@include background-image(linear-gradient(left, $bgMedium, $bgDark, $bgMedium));
								}
#wrap 					{ height: auto !important; margin: 0 auto -60px; min-height: 100%; }
#main-region   	{ padding: 15px; color: #A0A0A0;}
.center 				{ text-align: center; }
button 					{ background-color: $bgDark}

/*Debugging Helpers */
.show-grid 			{ border: 1px solid; }
.no-padding 		{ padding: 0px;}