@import "base";

@mixin nesty
{ border-radius: 5px; padding: 5px; color: black; }

.nesty-debug { overflow: hidden; }
.nest-name-block { text-align: center; font-weight: bold;}
.block-font { text-align: center; font-weight: bold;}
.tiny { font-size: .5em; }

.btn-fence
{ border: inset 3px; border-color: $fontMedium; border-radius: 10px}

/*
#details-region              
{ @include nesty; background-color: lighten($bgMedium,25%); }
*/

#show-model-region-workout   
{ background-color:  $bgNight; font-size: 2em; margin-bottom: 5px; }

/*
#show-sub-models-region-workout   
{ @include nesty; background-color: $bgLight; }
*/
/**********************************/
/*WORKOUT BLOCKS - LIST*/
/**********************************/

/*
#list-models-region-blocks
{ @include nesty; background-color: darken($bgMedium,25%); }
*/

/*
#list-composite-view-blocks
{ @include nesty; background-color: lighten($bgMedium,0%); }
*/

.layout-each-block
{ @include nesty; border: 1px outset lighten($bgNight,25%) ; background-color: lighten($bgNight,10%); margin-bottom: 15px;}

#list-model-region-block
{ @include nesty; /*background-color: lighten($bgMedium,25%);*/ }

/*
#list-sub-models-region-block
{ @include nesty; background-color: lighten($bgMedium,25%); }
*/

.block-label-text
{color: lighten($bgNight, 20%); font-weight: bold}
/**********************************/
/*WORKOUT BLOCKS - SHOW*/
/**********************************/
/*
#show-model-region-block   
{ @include nesty; background-color: $bgLight; }
*/
/*
#show-sub-models-region-block   
{ @include nesty; background-color: $bgLight; }
*/
/**********************************/
/*WORKOUT SETTS - LIST*/
/**********************************/
/*
#list-models-region-setts
{ @include nesty; background-color: darken($bgMedium,25%); }
*/
/*
#list-composite-view-setts
{ @include nesty; background-color: lighten($bgMedium,0%); }
*/

.layout-each-sett
{ @include nesty; /*border: outset 3px; background-color: lighten($bgMedium,25%);*/ margin-bottom: 5px;}

#list-model-region-sett
{ @include nesty; /*background-color: lighten($bgMedium,25%);*/ margin-bottom: 5px; }

/*
#list-sub-models-region-sett
{ @include nesty; background-color: lighten($bgMedium,25%); }
*/
/**********************************/
/*WORKOUT SETTS - SHOW*/
/**********************************/
/*
#show-model-region-sett   
{ @include nesty; background-color: $bgLight; }
*/
/*
#show-sub-models-region-sett   
{ @include nesty; background-color: $bgLight; }
*/

/**********************************/
/*WORKOUT REPS - LIST*/
/**********************************/
/*
#list-models-region-reps
{ @include nesty; background-color: darken($bgMedium,25%); }
*/
/*
#list-composite-view-reps
{ @include nesty; background-color: lighten($bgMedium,0%); }
*/

.layout-each-rep
{ /*@include nesty; border: outset 3px; */ border-radius: 5px; background-color: lighten($bgNight,20%); display: inline-block; width: 10%; margin: 2px; }

#list-model-region-rep
{/* @include nesty; background-color: lighten($bgMedium,25%);*/ }

/*
#list-sub-models-region-rep
{ @include nesty; background-color: lighten($bgMedium,25%); }
*/